body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
  }
  
  .hongo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
  }
  

  .light {
      width: 20px;
      height: 10px;
      background-image: radial-gradient(white, white);
      border-radius: 50%;
      position: relative;
      top: 6px; 
  }
  
  .sombrero {
    background-color: red;
    border-radius: 60% 60% 40% 40%;
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
    border: 3px solid #000;
  }
  
  .punto {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  /* Posiciona los puntos en el sombrero */
  .punto:nth-child(1) {
    clip-path: xywh(35% 0% 100% 100% round 33% 33%);
    border-radius: 37% 37%;

    top: 30%;
    left: -10.6%
  }

  .punto:nth-child(2) {
    width: 53%;
    top: 5%;
    left: 0%;
  }
  
  .punto:nth-child(3) {
    clip-path: xywh(0% 0% 65% 100% round 33% 33%);
    border-radius: 37% 37%;

    top: 30%;
    right: -10.6%;
  }
  
  .tallo {
    background-color: #EFDCCD;
    width: 130px;
    height: 85px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 100% 100% 75% 75%;
    top: -23%;
    border: 3px solid #000;
    z-index: 10; 
  }

  .ojos{
    top: 40%;
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 100%;
    width: 70%;
  }

  .ojo {
      width: 10px;
      height: 39px;
      top: -20%;
      background: radial-gradient(at top right, rgb(77, 77, 77) 20%, rgb(0,0,0) 50%);
      border-radius: 50%;
      border: 3px solid black;
      position: relative;
  }
  
  .ojo::before{
    content: '';
    border-radius: 50%;
    position: relative;
    display: flex;
    width: 5px;
    height: 10px;
    background: radial-gradient(at center, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 60%);
  }
  
  .sombrero:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  
  .punto:hover {
    transition: background-color 0.3s ease;
    background-color: #dcdce2;
  }
  
  .tallo:hover .ojos .ojo{
    animation: parpadeo 1.5s linear infinite;
  }

  @keyframes parpadeo {
    0% {
        height: 46%;
        top: -20%;
    }
    7% {
       height: 0%;
       top: 0;
    }
    15% {
       height: 46%;
       top: -20%;
    }

  }

  .hongo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
